<section class="col-sm-12 pt-3">
  <table class="table table-bordered table-sm">
    <thead class="thead-light">
    <tr>
      <th><%= Feature.model_name.human(count: 2) %></th>
    </tr>
    </thead>
    <% @features.each do |feature| %>
      <tr>
        <td><%= feature.name %></td>
      </tr>
    <% end %>
  </table>
</section>
<section class="col-sm-12 text-center">
  <%= page_entries_info @features %>
  <%= will_paginate @features, class: 'pagination pagination-sm justify-content-center pt-1', renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</section>