<section class="col-sm-12 pt-3">
  <table class="table table-bordered table-sm">
    <thead class="thead-light">
    <tr>
      <th><%= Product.model_name.human(count: 2) %></th>
    </tr>
    </thead>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
      </tr>
    <% end %>
  </table>
</section>
<section class="col-sm-12 text-center">
  <%= page_entries_info @products %>
  <%= will_paginate @products, class: 'pagination pagination-sm justify-content-center pt-1', renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</section>