<main class="container pt-3">
  <div class="row">
    <h1><%= t('new_Project') %></h1>
    <section class="col-sm-12">
      <%= render 'form', project: @project %>
    </section>
    <section class="col-sm-12">
      <div class="btn-group btn-group-sm">
        <%= link_to icon('arrow-left', t('back')), :back, class: 'btn btn-secondary' %>
      </div>
    </section>
  </div>
</main>

