# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 85db739e8b7e6e366276af213a6f2cf237e134edb07b38fb1459b87932b3597d9edc631f47817acca91d92fea09b8475e5e0075004e4171286fa331da058ae38

test:
  secret_key_base: a0f7f0aeae8fd0c2e28928e598e3a490e096bc6bbb19b69d5bb1db57b37b557f030a1395e45e6f2044945dfbc92a6330f6ae0942c0debc11b3b3e4f6207d43cd

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
